/* 
 * Простой сброс стилей для нормализации отображения в разных браузерах
 * Основан на принципах нормализации, а не полного сброса
 */

/* Базовые настройки документа */
html {
  line-height: 1.15; /* Устанавливаем базовый межстрочный интервал */
  -webkit-text-size-adjust: 100%; /* Предотвращает автоматическое изменение размера текста на iOS */
}

/* 
 * ==========================================================================
 * СЕКЦИИ ДОКУМЕНТА
 * ==========================================================================
 */

/**
 * Убирает внешние отступы у body во всех браузерах
 */
body {
  margin: 0;
}

/**
 * Исправляет отображение элемента <main> в Internet Explorer
 */
main {
  display: block;
}

/**
 * Корректирует размер шрифта и отступы для заголовков h1 внутри 
 * секций и статей в Chrome, Firefox и Safari
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* 
 * ==========================================================================
 * ГРУППИРОВКА КОНТЕНТА
 * ==========================================================================
 */

/**
 * Стили для горизонтальной линии (hr)
 * 1. Корректная модель box-sizing в Firefox
 * 2. Показывать переполнение в Edge и IE
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * Стили для предформатированного текста (pre)
 * 1. Корректное наследование и масштабирование размера шрифта
 * 2. Исправление нечеткого размера шрифта в em во всех браузерах
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* 
 * ==========================================================================
 * ТЕКСТОВЫЕ СЕМАНТИЧЕСКИЕ ЭЛЕМЕНТЫ
 * ==========================================================================
 */

/**
 * Убирает серый фон у активных ссылок в Internet Explorer 10
 */
a {
  background-color: transparent;
}

/**
 * Стили для аббревиатур с title атрибутом
 * 1. Убирает нижнюю границу в Chrome 57 и старее
 * 2. Добавляет правильное подчеркивание в современных браузерах
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Добавляет правильную толщину шрифта для полужирного текста
 * в Chrome, Edge и Safari
 */
b,
strong {
  font-weight: bolder;
}

/**
 * Стили для элементов кода (code, kbd, samp)
 * 1. Корректное наследование и масштабирование размера шрифта
 * 2. Исправление нечеткого размера шрифта в em
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Устанавливает правильный размер шрифта для мелкого текста
 * во всех браузерах
 */
small {
  font-size: 80%;
}

/**
 * Предотвращает влияние надстрочных (sup) и подстрочных (sub) 
 * элементов на высоту строки во всех браузерах
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em; /* Сдвиг для подстрочного текста */
}

sup {
  top: -0.5em; /* Сдвиг для надстрочного текста */
}

/* 
 * ==========================================================================
 * ВСТРАИВАЕМЫЙ КОНТЕНТ
 * ==========================================================================
 */

/**
 * Убирает границу у изображений внутри ссылок в Internet Explorer 10
 */
img {
  border-style: none;
}

/* 
 * ==========================================================================
 * ФОРМЫ
 * ==========================================================================
 */

/**
 * Базовые стили для элементов форм
 * 1. Изменяет стили шрифтов во всех браузерах для единообразия
 * 2. Убирает внешние отступы в Firefox и Safari
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Исправление переполнения для кнопок и полей ввода
 * 1. Показывать переполнение в Edge
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Убирает наследование text-transform в Edge, Firefox и IE
 * 1. Убирает наследование в Firefox
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Исправляет невозможность стилизации кликабельных типов 
 * в iOS и Safari
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  appearance: button;
}

/**
 * Убирает внутреннюю границу и отступы в Firefox
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Восстанавливает стили фокуса, сброшенные предыдущим правилом
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Корректирует отступы для fieldset в Firefox
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * Стили для легенды fieldset
 * 1. Исправляет перенос текста в Edge и IE
 * 2. Корректное наследование цвета от fieldset в IE
 * 3. Убирает отступы, чтобы разработчики не были сбиты с толку
 *    при обнулении fieldset во всех браузерах
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Добавляет правильное вертикальное выравнивание в 
 * Chrome, Firefox и Opera
 */
progress {
  vertical-align: baseline;
}

/**
 * Убирает вертикальную полосу прокрутки по умолчанию в IE 10+
 */
textarea {
  overflow: auto;
}

/**
 * Стили для чекбоксов и радиокнопок
 * 1. Правильная модель box-sizing в IE 10
 * 2. Убирает отступы в IE 10
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Корректирует стиль курсора для кнопок увеличения/уменьшения
 * в Chrome
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Стили для поля поиска
 * 1. Исправляет странный внешний вид в Chrome и Safari
 * 2. Корректирует стиль outline в Safari
 */
[type="search"] {
  appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Убирает внутренние отступы в Chrome и Safari на macOS
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Стили для кнопки загрузки файлов
 * 1. Исправляет невозможность стилизации кликабельных типов в iOS и Safari
 * 2. Изменяет свойства шрифта на наследование в Safari
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* 
 * ==========================================================================
 * ИНТЕРАКТИВНЫЕ ЭЛЕМЕНТЫ
 * ==========================================================================
 */

/**
 * Добавляет правильное отображение в Edge, IE 10+ и Firefox
 */
details {
  display: block;
}

/**
 * Добавляет правильное отображение во всех браузерах
 */
summary {
  display: list-item;
}